.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
}
.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.body{
  display: flex;
  align-items: center;
  text-align: center;
}
.App{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: pink;
}
*{
  background-color: black;
  color: pink;

}
h1, h2, h3 {
  font-family: 'Kaushan Script', cursive;
}
label {
  padding: 2%;
}
input, select {
  margin: 2%;
  padding: 2%;
  border: 0.5px solid darkgray;
  border-radius: 5px;
  box-shadow: 2px 2px;
  text-decoration: none;
  outline: none;

}
button {
  margin: 4%;
  padding: 1%;
  border-radius: 5px;
  border: 0.5px solid darkgray;
  box-shadow: 2px 2px;
  text-decoration: none;
  outline: none;
}